@media only screen and (max-width:720px){
	.dv_mob{display:block !important;}
	.dv_pc{display:none !important;}

	#header{height:55px; padding:0 20px; }
	#header .logo{top:14px; }
	#header .logo img{height:27px; }
	#header .header_btn{top:19px; left:20px; }
	#header .header_link{top:18px; right:20px; }
	#header .header_link a.link_mypage{margin-right:18px; }
	#header .head_sch_wp{height:180px; }
	#header .head_sch_wp .sch_clo{top:16px; right:20px;}
	#header .head_sch_wp .hd_sch{width:calc(100% - 40px);}
	#header .head_sch_wp .hd_sch .hd_sch_ip{padding:10px 5px;}

	#gnb{top:55px; height:calc(100% - 55px); overflow-y:auto; }

	#footer{padding:35px 0 47px; }
	#footer .tit{font-size:12px; line-height:28px; margin-bottom:12px; }
	#footer .foot_cp{float:none; margin-right:0; }
	#footer .foot_cp .txt{font-size:12px; line-height:24px; }
	#footer .foot_cs{float:none; margin-top:30px; }
	#footer .foot_cs .foot_tel{font-size:20px; line-height:24px; }
	#footer .foot_cs .foot_time{margin-top:5px; font-size:12px; line-height:24px; }
	#footer .foot_cs .foot_time img{height:11px; }
	#footer .foot_cs .foot_fax{margin-top:0; font-size:12px; line-height:24px; }
	#footer .foot_cs .foot_email{font-size:12px; line-height:24px;}
	#footer .foot_info .foot_pri a{font-size:12px; line-height:15px; }
	#footer .foot_info .foot_sns{margin-top:60px; }
	#footer .foot_info .foot_sns ul li{margin-right:18px; }
	#footer .foot_info .foot_copy{margin-top:26px; font-size:12px; line-height:18px;}

	.main_visual{height:187.5vw; }
	.main_visual .vs_bg_box{top:auto; bottom:0; left:0; right:auto; width:100%; height:55.5556vw; }
	.main_visual .vs_inner{height:187.5vw;}
	.main_visual .vs_text{top:38.9vw; left:20px; }
	.main_visual .vs_text dl dt span{font-size:3.8889vw; line-height:5.8333vw; }
	.main_visual .vs_text dl dd span{font-size:10vw; line-height:15vw; }
	.main_visual .vs_text .vs_btn{margin-top:11.6667vw; padding-left:5.5556vw; }
	.main_visual .vs_text .vs_btn a{font-size:3.6111vw; line-height:12.5vw; }
	.main_visual .vs_text .vs_btn a:before{left:-5.5556vw; width:12vw; height:12vw; margin-top:-6vw;}
	.main_visual .vs_text .vs_btn a:hover:before{width:33.3333vw; }
	.main_visual .vs_text .vs_btn a img{}
	.main_visual .vs_slide{top:83.3333vw; right:0px; width:100vw; height:83.3333vw;}
	.main_visual .vs_slide .swiper-slide{height:83.3333vw;}
	.main_visual .vs_slide .swiper-slide .img{height:83.3333vw;}
	/*.main_visual .vs_slide .swiper-slide.slide_item01 .img{background-image: url("../img/m_main_vs_item01.png");}*/
	/*.main_visual .vs_slide .swiper-slide.slide_item02 .img{background-image: url("../img/m_main_vs_item02.png");}*/
	.main_visual .vs_page{right:auto; left:0; bottom:11.1111vw; width:100%; text-align:center; }

	.main_new{padding:55px 0 65px; }
	.main_new .lft_box{float:none; width:100%; padding-top:0; }
	.main_new .lft_box h2{font-size:14px; line-height:21px; }
	.main_new .lft_box .ttl{font-size:26px; line-height:39px; margin-top:9px; }
	.main_new .lft_box .new_item_arr{margin-top:0; text-align:right; }
	.main_new .lft_box .new_item_arr a{width:50px; height:50px; }
	.main_new .lft_box .new_item_arr a.n_item_prev{margin-right:0; }
	.main_new .rgt_box{float:none; width:100%; margin-top:20px;  }
	.main_new .rgt_box .slide_item a .tit{bottom:17px; font-size:12px; line-height:18px; }

	.main_living{padding:55px 0 60px;}
	.main_living h2{font-size:26px; line-height:39px;}
	.main_living ul{margin-top:30px; }
	.main_living ul li{display:block; width:100%; margin-right:0; margin-top:35px; }
	.main_living ul li:first-child{margin-top:0; }
	.main_living ul li dl{padding-top:20px; }
	.main_living ul li dl dt{font-size:14px; line-height:21px; }
	.main_living ul li dl dd{margin-top:4px; font-size:13px; line-height:20px; }

	.main_search{height:320px; padding:55px 20px 0; background:url('../img/m_main_sch_bg.jpg') no-repeat center center; background-size:cover; background-attachment: initial;}
	.main_search h2{font-size:26px; line-height:39px; }
	.main_search .sch_box{width:100%; margin:33px 0 0;}
	.main_search .sch_box .ip_sch{height:42px; border-radius:60px; font-size:13px; padding-left:15px; }
	.main_search .sch_box .btn_sch{top:3px; right:3px; width:36px; height:36px; font-size:0; background:#eb5757 url('../img/ico_search_btn.png') no-repeat center center; background-size:17.5px; }
	.main_search .sch_box .btn_sch:hover{background:#fff url('../img/ico_search_btn_on.png') no-repeat center center; background-size:17.5px; }

	.main_intro{padding:55px 0 70px; }
	.main_intro .intro_slide{float:none; width:100%; }
	.main_intro .intro_slide .swiper-slide{height:270px; }
	.main_intro .intro_slide .swiper-slide .img{height:270px; }
	.main_intro .intro_slide .intro_nav{bottom:4px; }
	.main_intro .intro_slide .intro_nav .it_nav_num{top:1px; width:28px; font-size:11px; line-height:17px; }
	.main_intro .intro_slide .intro_nav .it_nav_num:after{width:6px; top:8px; right:6px; }
	.main_intro .intro_slide .intro_nav .it_slide_ttl{width:calc(100% - 28px); height:17px; }
	.main_intro .intro_slide .intro_nav .it_slide_ttl .it_sd_tt{font-size:11px; line-height:17px; }
	.main_intro .intro_slide .intro_nav .intro_arr{display:none; }
	.main_intro .intro_slide .intro_bg img{height:270px; }
	.main_intro .intro_text{float:none; width:100%; margin-top:50px; padding-left:0; }
	.main_intro .intro_text h2{font-size:18px; line-height:27px; }
	.main_intro .intro_text .text_slide{height:39px; }
	.main_intro .intro_text .text_slide div{font-size:26px; line-height:39px; }
	.main_intro .intro_text .desc{margin-top:21px; font-size:13px; line-height:24px; }
	.main_intro .intro_text ul{margin-top:30px; }
	.main_intro .intro_text ul li{padding-left:15px; font-size:14px; line-height:40px; }
	.main_intro .intro_text ul li:before{top:18px; width:6px; height:6px; }
	.main_intro .intro_text ul li:hover{padding-left:25px;}
	.main_intro .intro_text ul li:hover:before{left:10px; }

	.main_product{padding:55px 0 65px; }
	.main_product h2{font-size:26px; line-height:39px; }
	.main_product .prd_cata{margin-top:30px; }
	.main_product .prd_cata ul li{margin-right:28px; }
	.main_product .prd_cata ul li a{font-size:13px; line-height:20px; }
	.main_product .prd_list{margin-top:40px; }
	.main_product .prd_list .grid_item{width:48.4375%; margin-bottom:4.8%;}
	.main_product .prd_list .grid_item.active{width:48.4375%;}
	.main_product .prd_list .grid_item .caption .desc .tit{font-size:18px; line-height:30px; }
	.main_product .prd_list .grid_item .caption .desc .dsc{font-size:12px; line-height:18px; }
	.main_product .prd_list .gt_size{width:3.125%; }
	.main_product .prd_list .grid_size{width:48.4375%; }

	.main_bgbox{height:720px; }
	.main_bgbox .bg_img .bg{height:720px; }
	.main_bgbox .bg_cont ul li{width:100%; height:180px; }
	.main_bgbox .bg_cont ul li:nth-child(3) .bg_inbox{border-bottom:1px solid rgba(255,255,255,.3); }
	.main_bgbox .bg_cont ul li dl{padding:30px; }
	.main_bgbox .bg_cont ul li dl dt{font-size:14px; transform:translateY(0); }
	.main_bgbox .bg_cont ul li dl dd{margin-top:10px; font-size:13px; line-height:20px; }

	.main_ex .ex_dsc .ex_dsc_top{padding:40px 20px 57px; }
	.main_ex .ex_dsc .ex_dsc_top dl dt{font-size:20px; line-height:30px; }
	.main_ex .ex_dsc .ex_dsc_top dl dd{margin-top:20px; font-size:13px; line-height:24px; }
	.main_ex .ex_dsc .ex_dsc_bot{padding:35px 20px 40px; }
	.main_ex .ex_dsc .ex_dsc_bot ul{text-align:center; }
	.main_ex .ex_dsc .ex_dsc_bot ul li{width:33.33%; margin-right:0; }
	.main_ex .ex_dsc .ex_dsc_bot ul li .counter{font-size:28px; line-height:42px; }
	.main_ex .ex_dsc .ex_dsc_bot ul li span{font-size:13px; line-height:19.5px; }

	.main_video{height:auto; }
	.main_video .video_wrap{position:relative; top:0; transform:translateY(0); }

	.main_partner{padding:25px 0 15px;}
	.main_partner .partner_inner{width:100%; padding:0 20px; }
	.main_partner ul li{width:calc(50% - 9px); margin-right:18px; margin-bottom:20px; }
	.main_partner ul li:nth-child(even){margin-right:0; }

	.main_instagram{padding:55px 0 80px; }
	.main_instagram h2{font-size:26px; line-height:39px; }
	.main_instagram .desc{font-size:13px; line-height:20px; }
	.main_instagram ul{margin-top:50px; }
	.main_instagram ul li{width:31.25%; margin-right:3.125%; }
	.main_instagram ul li:nth-child(1),
	.main_instagram ul li:nth-child(2){width:48.4375%; margin-bottom:3.125%;}
	.main_instagram ul li:nth-child(2){margin-right:0; }

    /*[s] Login */
    .main_living h2 {font-size: 36px !important; line-height: 54px;}
    .form-outer.fields { width:320px; height: 50px;margin-top: 7px;margin-bottom: 8px;}
    .remember-inner a {font-size: 12px; line-height: 18px;}
    .remember-inner > label {font-size: 12px; line-height: 18px;}
    .remember-inner > input {width: 20px; height: 20px;}
    .checkbox-container {width: 50%}
    .remember-inner .checkmark:after { left: 7px; top:3px;}
    .check-list #checks button.view {width: auto; margin-left: 0px;}
    .checkmark {width: 20px; height: 20px;}
    .inner .login-btn {width: 320px; height: 60px; font-size: 16px;line-height: 24px;font-family: Poppins; font-style: normal; font-weight: 700}
    .inner .inner div h3 {width: 100%; margin-top: 48px;font-size: 12px;line-height: 20px;}
    .inner .inner div h3:after, h3:before { width: 80px; margin: 0 10px;}
    .main_living .inner .inner .form-outer {margin-top: 44px;}
    .main_living .inner .inner .form-outer button {width: 50px; height: 50px;margin-left: 10px;margin-right: 10px;}
    .main_living .inner .inner .form-outer a {width: 50px; height: 50px;}
    .naver img {margin-top: 15px;}
    #registerConfirmForm .inner .inner .form-outer .naver img {margin-top: 15px;}
    .login_span {margin-top: 50px;}
    .login_span span {font-size: 12px; line-height: 18px;}
    .login-error { width: 320px; display: grid}
    .login-error span { text-align: start; font-size: 11px; line-height: 16px; font-weight: 500; color: #EB5757}
    /*[e] Login */
    /*	[s] News*/
    .news{ padding: 100px 0 0 0;}
    .upper {display: block}
    .news .inner hr{margin-left: -20px;	width: 115%;}
    .inner .news_header .news_title { font-weight: 700; font-size: 36px; line-height: 54px; }
    .inner .upper .tab_title .news_tabs {display: inline-flex}
    .inner .upper .tab_title .news_tabs li {margin-top: 26px; margin-right: 24px;}
    .inner .upper .tab_title .news_tabs li a { font-size: 18px; font-weight: 700}
    .search { width: 100%; margin-top: 63px;}
    .total p {margin-top: 150px;}
    .post_content {display: inherit}
    .post_right_box {margin : 0; padding: 0}
    .post_right_box a h2 {font-size: 18px; font-weight: 600; line-height: 27px; margin-top: 12px;}
    .post_right_box  p { width: fit-content; line-height: 19.5px; font-size: 13px; font-weight: 400;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
    .post-image { padding:  39px 0 0 0}
    .post-image img {width: 100%}
    .post_date {margin-top: 30px; margin-bottom: 35px;}
    .paginating {margin: 50px 0 60px 0; }
    .page-number a {margin-left: 36px; font-size: 13px; font-weight: 400; color: #333333}
    .paginating .active a {font-weight: 700}
    .paginating li:nth-child(1) a {margin-left: 0; font-weight: 700}
    .notice_box a h2 {margin-top: 34px;margin-bottom: 21px;font-weight: 600; font-size: 18px; line-height: 27px; margin-left: 0}
    .news .infit li .thum img {height: 220px;}
    .notice_date {margin-bottom: 40px;margin-left: 0}
    .notice_date span img {margin-right: 5px;}
    .notice_date span svg {margin-right: 5px;}
    .notice_date span {font-weight: 400; font-size: 13px; line-height: 19px;margin-right: 16px;}
    .news .infit li {display: block; width: 100%;}
    .news .infit li dl dt{ width: 100%; font-weight: 600; font-size: 16px; line-height: 24px}
    .news .infit li dl dd{ font-size: 13px; font-weight: 400; line-height: 19px;}
    .news_title {font-size: 36px;}
    .gallery_date { margin-top: 22px; margin-bottom: 40px;}
    .tabs {margin-top: 148px;overflow: auto}
    .inner .tab_content.active .tab_box { margin-bottom: -8px;}
    .tabs .tabs_ul {display: flex; overflow: auto}
    .tabs .active {background: none}
    .tabs .active .btn {background: #EB5757}
    .tabs_ul li:nth-child(1) .btn {width: 50px; height: 40px;}
    .inner ul li .btn {width: 70px; height: 40px;margin-right: 10px; padding: 9.5px 0px; font-size: 14px;line-height: 21px; font-weight: 600}
    .total-faq p {margin-top: 28px;margin-bottom: 22px;font-weight: 400; font-size: 13px; line-height: 19px;}
    .tabs_title { display: grid;align-items: unset; height: auto}
    .tabs_title a {display: inline-block; width: 100%; font-weight: 600; font-size: 16px; line-height: 24px;margin-bottom: 37px;}
    .tabs_title span { line-height: 19px; margin-left: 0; font-size: 13px;font-weight: 600; margin-top: 29px;margin-bottom: 15px;}
    .tab_box p { font-size: 13px; line-height: 24px; font-weight: 400;width: 115%; margin-left: -20px; padding: 20px 30px 20px 20px; word-break: break-word;}
    .sort-items .tab_content .tab_box { overflow-y: auto; overflow: unset}
    .tab_content .tabs_title:after {margin-top: 70px;}
    .remember-outer .remember-inner { width: 320px; margin-inline: auto}
    .search input {width: 100%}
    .upper > .search > input::-webkit-input-placeholder {font-size: 14px; line-height: 21px;}

    /*	[e] News*/
    /*  [s] News description*/
    .news_comment_subject {height: 50px;}
    .news_category p {margin-top: 36px;}
    .news_description_content {margin-top: 9px;}
    .news_description_content .news_description_box a h2 {font-size: 20px;}
    .news_description_content .news_description_box .news_description_date {margin-bottom: 30px;}
    .news_description_item .news_description_image img {margin-top: 30px;margin-bottom: 20px;}
    .news_description_item .news_description_text p { font-size: 13px; line-height: 19.5px; margin-bottom: 23px; }
    .news_description_item_button {margin-top: 30px; margin-bottom: 60px;}
    /*  [e] News description */
    /*  [s] News comment  */
    .news_comment_title { margin-top: 100px;font-size: 36px;line-height: 54px;font-weight: 700;margin-bottom: 36px;}
    .news_comment_content span { font-size: 12px;font-weight: 600; line-height: 18px; }
    .news_comment_thumbnail_a { font-size: 0px; padding:15px 9px;}
    .news_comment_thumbnail_a i {font-size: 13px;vertical-align: middle; margin-right: 0px;}
    .news_comment .comment_inner hr {width: 100%}
    .news_comment_buttons {margin-top: 48px;margin-bottom: 78px;}
    .news_comment_add_file {margin-top: 13px; margin-bottom: 30px;}
    .news_comment_cancel {padding:12.5px 48px; margin-right: 3px; font-size: 14px;line-height: 21px;}
    .news_comment_write  {padding:12.5px 54.5px;margin-left: 3px; font-size: 14px;line-height: 21px;}
    /*  [e] News comment  */
    /*  [s] Notice comment */
    .notice_comment_subject { height: 50px;}
    .notice_comment_title { margin-top: 100px;font-size: 36px;line-height: 54px;font-weight: 700;margin-bottom: 36px;}
    .notice_comment_content span { font-size: 12px;font-weight: 600; line-height: 18px; }
    .notice_comment_thumbnail_a { font-size: 0px; padding:15px 9px;margin-right: 8px;}
    .notice_comment_thumbnail_a i {font-size: 13px;vertical-align: middle; margin-right: 0px;}
    .notice_comment .comment_inner hr {width: 100%}
    .notice_comment_buttons {margin-top: 48px;margin-bottom: 78px;}
    .notice_comment_add_file {margin-top: 13px; margin-bottom: 30px;display: flex}
    label[for="notice_comment_file"] {margin-top: 3px;}
    .notice_comment_add_more_file {margin-top: 0;}
    .notice_comment_cancel {padding:12.5px 48px; margin-right: 3px; font-size: 14px;line-height: 21px;}
    .notice_comment_write {padding: 12.5px 54.5px;margin-left: 3px; font-size: 14px;line-height: 21px;}
    /*  [e] Notice comment*/
    /*  [s] FAQ comment  */
    .faq_comment_subject { height: 50px;}
    .faq_comment_title { margin-top: 100px;font-size: 36px;line-height: 54px;font-weight: 700;margin-bottom: 36px;}
    .faq_comment_content span { font-size: 12px;font-weight: 600; line-height: 18px; }
    .faq_comment_thumbnail_a { font-size: 0px; padding:15px 9px;margin-right: 8px;}
    .faq_comment_thumbnail_a i {font-size: 13px;vertical-align: middle; margin-right: 0px;}
    .faq_comment .comment_inner hr {width: 100%}
    .faq_comment_buttons {margin-top: 48px;margin-bottom: 78px;}
    .faq_comment_add_file {margin-top: 13px; margin-bottom: 30px;display: flex}
    label[for="faq_comment_file"] {margin-top: 1px;}
    .faq_comment_add_more_file {margin-top: 0;}
    .faq_comment_cancel {padding:12.5px 48px; margin-right: 3px; font-size: 14px;line-height: 21px;}
    .faq_comment_write {padding: 12.5px 54.5px;margin-left: 3px; font-size: 14px;line-height: 21px;}
    /*  [e] FAQ comment */
/* [s] Contact us */

.contact_inner {
	width: 100%;
	height: 1200px;
	margin: 0px;
	padding: 0px;
	display: contents
}

.con_left_half {
	height: 507px;
	margin: 0px;
	width: 100%;
	/* margin-top: 45px; */
	/* position: absolute; */
}

.contact_title {
	margin: 0px;
	padding: 0px;
	width: 151px;
	height: 54px;
	margin-top: 100px;
	margin-left: 20px;
}

.contact_title h1 {
	font-size: 36px;
}

.contact_type {
	height: 27px;
	margin-top: 26px;
	margin-left: 20px;
}

.contact_m_header li {
	font-size: 18px;
	margin: 0px;
}

.contact_m_header li .active {
	color:#333333;
	font-weight:bold !important;
	font-size: 18px;
	text-decoration-line: underline !important;
}

.contact_type li:first-child {
	margin-right: 23px;
	width: 102px;
	height: 27px;
}

.con_img_text {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 360px;
}

.con_img_text img {
	position: absolute;
	/* width: 100%; */
	height: 100%;
	margin-top: 40px;
}

.con_img_text h3 {
	font-size: 14px;
	width: 100%;
	height: 186px;
	left: 20px;
	margin-top: 95px;
}

.con_img_text dl dt {
	font-size: 26px;
	width: 146px;
	height: 26px;
	left: 20px;
	margin-top: 133px;
}

.con_img_text dl dd {
	position: absolute;
	width: 297px;
	height: 108px;
	left: 20px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	margin-top: 173px;
}

.con_right_half {
	margin: 0px;
	padding: 0px;
	left: 0px;
	width: 100%;
	height: 700px;
	margin-top: -52px;
}

.con_add {
	left: 20px;
	width: 100%;
	position: absolute;
	margin-top: 35px;
}

.con_address h4 {
	width: 52px;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	text-transform: capitalize;
}

.con_address p {
	width: 268px;
	height: 40px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	margin-top: 6px;
}


.con_add li {
	display: grid;
}
.con_phone h4 {
	width: 36px;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	text-transform: capitalize;
	margin-top: 20px;
}

.con_phone p {
	width: 268px;
	height: 40px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	margin-top: 6px;
	margin-bottom: 0px;
}

.con_email h4 {
	width: 52px;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	text-transform: capitalize;
	/* margin-top: 22px; */
}
.con_email p {
	width: 268px;
	height: 40px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	margin-top: 6px;
	margin-bottom: 0px;
}

.cont_field {
	width: 320px;
	height: 366px;
	margin-top: 20px;
}

.cont_field_name {
	width: 320px;
	height: 44px;
	margin-bottom: 4px;
}

.cont_field_email {
	width: 320px;
	height: 44px;
	margin-bottom: 4px;
}

.cont_field_phone {
	width: 320px;
	height: 44px;
	margin-bottom: 4px;
}

.cont_field_comments {
	width: 320px;
	height: 140px;
	margin-bottom: 20px;
}

.cont_field_send {
	width: 320px;
	height: 50px;
	margin-bottom: 20px;
	font-size: 14px;
	text-transform: capitalize;
	margin-bottom: 0px;
}

/* [e] Contact us */

/* [s] Location */

.loc_inner {
	width: 100%;
	height: 100%;
	display: contents;
	position: absolute;
}

.loc_left_half {
	width: 100%;
	height: 597px;
	top: 100px;
	left: 20px;
	margin: 0px;
}

.loc_title {
	margin-left: 20px;
	margin-top: 100px;
	width: 151px;
	height: 54px;
}

.loc_title h1 {
	width: 151px;
	height: 54px;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #333333;
}

.loc_type {
	height: 27px;
	margin-top: 26px;
	margin-left: 20px;
}

.loc_m_header li {
	display: inline-block;
	width: 102px;
	height: 27px;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #BDBDBD;
	margin: 0px;
}

.loc_m_header li:first-child {
	margin-right: 22px;
	width: 102px;
	height: 27px;
}
.loc_text {
	position: absolute;
	width: 360px;
	height: 450px;
	left: 0px;
	margin-top: 40px;
}

.loc_text ul {
	margin-left: 20px;
}

.loc_country {
	width: 60px;
	height: 21px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #FF8686;
	margin-top: 45px;
}

.loc_title_2 {
	width: 115px;
	height: 26px;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	color: #FFFFFF;
	margin-top: 17px;
}

.loc_des {
	width: 248px;
	height: 36px;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
}

.loc_trans {
	margin-top: 25px;
}

.loc_trans_car  {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

.loc_trans_car h4 {
	width: 23px;
	height: 22px;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.loc_trans_car p {
	width: 275px;
	height: 20px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
	margin-top: 6px;
}

.loc_trans_bus  {
	display: flex;
	flex-direction: column;
	margin-top: 22px;
}

.loc_trans_bus h4 {
	width: 23px;
	height: 22px;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.loc_trans_bus p {
	width: 190px;
	height: 20px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
	margin-top: 6px;
}

.loc_trans_sub  {
	display: flex;
	flex-direction: column;
	margin-top: 22px;
}

.loc_trans_sub h4 {
	width: 50px;
	height: 22px;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.loc_trans_sub p {
	width: 113px;
	height: 40px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
	margin-top: 6px;
}

.loc_right_half {
	width: 360px;
	height: 558px;
	}

.map_iframe iframe {
	width: 100%;
	height: 558px;
}
/* [e] Location */
/* [s] Register */
    .modal-window.small { width: 320px !important; height: 390px !important;}
    .modal-inner {width: 280px !important;}
    .inner .inner div h3 {width: 290px;}
    .inner hr {width: 100%;}
    .remember-outer.check-list {        width: 100%; display: grid;  }
    .remember-inner-list label { width: 290px}
    #registerForm .form-outer { }
    #UserId { width: 210px}
    .r_label {margin-left: 55px;}
    #registerForm .form-outer  input {margin-top: 20px; height: 44px;}
    #registerForm .form-outer div:nth-child(2){ justify-content: center}
    #registerForm .form-outer:nth-child(1) label{ margin-left: 55px;}
    #registerForm .form-outer-inline button {margin-top: 20px;width: 100px; height: 44px;}
    .password-show {margin-left: 285px;margin-top: 55px;}
    .byr {width: 100%; justify-content: center}
    .form-outer-inline.fields-2 {height: 44px; margin-top: 20px;}
    #registerForm .form-outer .bi {width: 100px }
    #registerForm .form-outer:first-child .bi {margin-right: 10px; }
    #registerForm .form-outer select {margin-right: 10px !important; }
    #registerForm .form-outer .dob {margin-left: 55px;}
    #registerForm .form-outer #zoneCode {width: 100px; place-content: center; margin-left: 55px;}
    #registerForm .form-outer #officialAddress {margin-bottom: -2px}
    #registerForm .form-outer .form-outer-inline select { background-position-x: 70px !important}
    .form-outer-inline #email {margin-left: 55px; width: 210px}
    .form-outer-inline #confirmCode {margin-left: 55px; width: 210px}
    .form-outer-inline #phoneNumber {margin-left: 55px; width: 210px}
    .form-outer-inline #phoneConformCode {margin-left: 55px; width: 210px}
    .form-outer .form-outer button {width: 320px}
    .inline-error .success {font-size: 11px;margin-right: 20px;}
    .not_match {margin-left: 0px !important;}
    .inline-error .error {font-size: 11px;}
    .inline-error {margin-left: 5px;}
    .email_valid { margin-left: -200px}
    .phone_valid { margin-left: -200px}
/* [e] Register  */
/* [s] Profile  */
    .profile_form_leftside  #registerForm {display: inherit}
    .profile_inner {display: grid}
    .leftside_profile {width: 100%; background-color: #EB5757; padding-left: 20px;}
    .leftside_profile {height: 415px;}
    .profile_title {padding-top: 105px;}
    .profile_title h1 {font-weight:700 ; font-size: 16px;line-height: 24px;}
    .profile_hello_msg h1 {font-weight: 700; font-size: 38px;line-height: 55px}
    .profile_access_time {margin-top: 33px;}
    .profile_withdrawal_member {padding: 50px 20px 0 0; float: right;opacity: 0.5; position: absolute; top: 305px; right: 0}
    .profile_withdrawal_member a {font-size: 11px;}
    .profile_form_outside {display: inherit}
    .rightside_profile { width: 100%; padding:28px 20px 0 20px}
    .profile_form_rightside {padding: 0px 0 20px 0px;}
    .profile_form_rightside .form-outer-inline.fields-2{width: 100px;}
    .profile_form_outside .profile_form_leftside .form_outer .form-outer-inline { justify-content: start}
    .profile_form_outside .profile_form_leftside .form-outer{align-items: normal }
    .profile_form_leftside .form-outer #zoneCode {margin-left: 0}
    .profile_form_leftside #registerForm .form-outer div:nth-child(2) { justify-content: normal}
    .profile_form_leftside .form-outer-inline #confirmCode {margin-left: 0}
    .profile_form_rightside .form-outer-inline #phoneNumber {margin-left: 0}
    .profile_form_leftside .form-outer .form-outer-inline {width: 100%}
    .profile_form_leftside .form-outer-inline #email {margin-left: 0}
    .profile_form_leftside .form-outer-inline .r_label {margin-left: 0}
    .profile_form_leftside .profile_save_button #submitForm { width: 320px;}
    .profile_form_leftside .form-outer-inline button {margin-top: 10px;}
    .profile_form_leftside .form-outer-inline.fields-2 {margin-top: 10px;}
    .profile_form_rightside .form-outer-inline #phoneConformCode {margin-left: 0 }
    .profile_form_leftside #registerForm .form-outer-inline button {margin-top: 10px;}
    .profile_form_leftside #registerForm .form-outer #zoneCode {margin-left: 0}
    .profile_form_leftside .form-outer-inline #phoneNumber { margin-left: 0}
    .profile_form_leftside .form-outer-inline #phoneConformCode {margin-left: 0}
    .profile_form_leftside #registerForm .form-outer .dob {margin-left: 0}
    .profile_form_leftside .form-outer .password-show {margin-top: 70px;}
    .modal-profile-window { margin:40% auto}
    .form_right_column { padding-left: 0;padding-top: 20px;}
    .profile_form_outside .profile_form_leftside .form-outer {align-items: normal}
    .profile_form_rightside .form-outer .form-outer.mt5 {align-items: normal}
    .profile_form_rightside .form-outer-inline .form-outer-inline.fields-2 {height: 44px;}
    .profile_form_rightside .byr {justify-content: normal}
    .profile_form_rightside .byr  select {background-position-x: 80px !important;}
    .profile_form_leftside .form-outer-inline #UserId { width: 320px}
    .rightside_profile_title {font-size: 22px;}
    .profile_form_leftside #registerForm .form-outer input {margin-top: 10px;}
    .profile_form_outside .form-outer.profile-row { display: grid !important}
    .profile_save_button .form-outer.submit { width: 320px !important; min-width: 320px}
    .profile_upd_1 {order: 1}
    .profile_upd_1 .form-outer-inline .r_label {margin-left: 0}
    .profile_upd_1 input {width: 320px !important;}
    .profile_upd_2 {order: 2}
    .profile_upd_3  {order: 5}
    .profile_upd_3 .dob {margin-left: 0 !important}
    .profile_upd_3 .form-outer-inline.byr.col-6 {width: 320px;}
    .profile_upd_4 {order: 6}
    .profile_upd_4 .form-outer-inline .dob { margin-left: 0 !important}
    .profile_upd_4 .byr {justify-content: start !important}
    .profile_upd_4 .byr  select {max-width: 100px;}
    .profile_upd_5 {order: 3}
    .profile_upd_5 .password-show { margin-left: 285px;}
    .profile_upd_6 .password-show { margin-left: 285px;}
    .profile_upd_6 {order: 4}
    .profile_upd_6 .dob {margin-left: 0 !important;}
    .profile_upd_6 .form-outer-inline { justify-content: start}
    .profile_upd_6 div:nth-child(2){justify-content: start !important}
    .profile_upd_7 #zoneCode {margin-left: 0 !important}
    .profile_upd_7 .dob {margin-left: 0 !important}
    .profile_upd_7 {order: 7}
    .profile_upd_7 .form-outer-inline .dob {margin-top: 0px; margin-bottom: 10px;}
    .profile_upd_7 .form-outer-inline {justify-content: start !important}
    .profile_upd_7  input{ margin-top: -4px !important}
    .profile_upd_7 button {margin-top: -3px !important; margin-bottom: 10px;}
    .profile_upd_8 {order: 8}
    .profile_upd_8 input { margin-left: 0 !important; margin-top: -4px !important;}
    .profile_upd_8 .dob {margin-left: 0 !important;}
    .profile_upd_9 {order: 9}
    .profile_upd_9 input { margin-left: 0 !important}
    .profile_upd_9 .dob { margin-left: 0 !important}
    .profile_upd_9  div:nth-child(2){ justify-content: start !important}
    .profile_upd_10  div:nth-child(2){ justify-content: start !important}
    .profile_upd_10 {order: 10}
    .profile_upd_10 input { margin-left: 0 !important}
    .profile_upd_10 {order: 10}.dob { margin-left: 0 !important}
    .profile_upd_11 {order: 11}
    .profile_upd_12 {order: 12}
    .profile_hello_msg h1 {width: 320px;margin-top: 16px;}
    .profile_save_button { width: 100% !important; align-items: start}
    .modal-profile-window.small {  width: 300px; height: 220px;  }
    .modal-profile-window {width: 320px; height: 260px;}
    .modal-profile-inner h1 { font-size: 15px;line-height: 19px; margin-top: 28px; margin-bottom: 23px;}
    .modal-profile-inner a { width: 200px;height: 40px;padding: 12px;font-size: 13px;line-height: 16px;}
    .close { margin-top: 12px; margin-right: 16px; color: #828282}
/* [e] Profile  */
/*   [s] find id, password */
    .find-pass-sec {
        top: 110px;
    }
    #find-pass-container{
        width: 320px;
        height: 660px;
    }
    .find-pass-acc li:first-child {
        font-size: 13px;
        font-weight: 500;
        font-family: SpoqaHanSansNeo;
    }
    .find-pass-acc li:last-child {
        font-size: 13px;
        font-weight: 500;
        font-family: SpoqaHanSansNeo;
    }
    #find-id-tab p {
        font-size: 13px;
        font-weight: 400;
        font-family: SpoqaHanSansNeo;
    }
    #find-pass-tab p {
        font-size: 13px;
        font-weight: 400;
        font-family: SpoqaHanSansNeo;
    }
    .find-pass-input {
        font-size: 13px;
    }
    .find-id-ver {
        height: 50px;
        font-weight: bold;
        font-size: 14px;
        font-family: SpoqaHanSansNeo;
        margin-top: 40px;
    }
    .find-pass-inner span {
        margin-top: 15px;
    }
    .find-pass-ver {
        margin-top: 40px;
        font-size: 14px;
        font-weight: bold;
        height: 50px;
    }
    .modal-find-id-window.small {
        width: 320px;
    }
    .find-pass-input {
        height: 50px;
    }
    .find-pass-inner input {
        height: 50px;
    }
    #find-id-second-step span {
        font-size: 13px;
        font-family: Poppins;
    }
    .find-pass-inner span {
        font-size: 10px;
        font-family: SpoqaHanSansNeo;
    }
    .find-outside-button a {
        padding:15px 141px;
    }
    .find-outside-button {
        width: 320px;
    }
/*   [e] find id password*/
    /*    [s] Register*/
    .register-main {
        max-width: 360px;
        margin: 0 auto;
        /*background-color: red;*/
    }
    .reg-id input {
        width: 250px;
        height: 52px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
    .reg-id button {
        width: 100px;
        height: 52px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.04em;

    }
    .reg-address input, button {
        width: 120px;
        height: 52px;
    }
    .reg-address button {
        width: 100px;
        height: 52px;
        font-weight: 500;
    }
    /*    [e] Register*/
}

@media only screen and (max-width:320px){

    .form-outer .fields {width: 100%;height: 35px;}
    .inner .login-btn {width: 100%; height: 40px;}
    .remember-outer .remember-inner {width: 100%}
    .main_living .inner .inner .form-outer button {margin-left: 5px; margin-right: 5px;}
/*    [e] Login*/
/*    [s] News*/
    .search input{ width: 100%}
    .post-image {width: 100%}
    .tabs_title a {font-size: 14px;}
     .text-center .right-item {display: none}
/*    [e] News*/
/*    [s] Register*/
    .register-main {
        max-width: 280px;
        margin: 0 auto;
        /*background-color: red;*/
    }
    .reg-id input {
        width: 170px;
        height: 52px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
    .reg-id button {
        width: 100px;
        height: 52px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.04em;

    }
    .reg-address input, button {
        width: 120px;
        height: 52px;
    }
    .reg-address button {
        width: 100px;
        height: 52px;
        font-weight: 500;
    }
/*    [e] Register*/
}


