@charset "utf-8";

/* Skip Navigation */
	.skipnav{width: 100%;}
	.skipnav a{position: absolute;left: -3000px;}
	.skipnav a:focus{display: block;top: 0;left: 0;z-index: 1000;width: 100%;height: 30px;background: #222447;font-size: 15px;line-height: 30px;color: #fff;text-align: center;border:none;}

/*[s] All Style */
	html{width: 100%;overflow-x:hidden;overflow-y:auto;}
	html,body{min-height:100%;-webkit-text-size-adjust:none;}
	html.no_scroll{overflow-y:hidden;}

	/* 공용 */
	.infit{font-size:0;letter-spacing:0;word-spacing:0;}
	.black{color:#000 !important;}
	.point{color:#1481C4 !important;}
	.dv_mob{display:none !important;}
	.dv_pc{display:block !important;}
	.dim{display:none;}
/*[e] All Style */

/*[s] Layout Style */
	#wrapper{position:relative;width:100%;overflow:hidden;}
	#header{position:fixed; width: 100%; height:70px; padding:0 30px; background:#fff; z-index:999; transition: all .3s;}
	#header .logo{position:absolute; top:17px; left:30px; z-index:9991}
	#header .logo img{height:33px; }
	#header .header_link{position:absolute; top:25px; right:30px; }
	#header .header_link a{display:inline-block; }
	#header .header_link a.link_mypage{margin-right:40px;}
	#header .header_link a img{height:20px; }
	#header .header_btn{
		display:none;
		position:absolute;
		top:27px;
		left:30px;
		width: 24px;
		height: 15px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		 z-index:9990;
	}
	#header .header_btn span {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		background: #333;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	#header .header_btn span:nth-child(even) {left: 50%;border-radius: 0 3px 3px 0;}
	#header .header_btn span:nth-child(odd) {left:0px;border-radius: 3px 0 0 3px;}
	#header .header_btn span:nth-child(1), #header .header_btn span:nth-child(2) {top: 0px;}
	#header .header_btn span:nth-child(3), #header .header_btn span:nth-child(4) {top: 6px;}
	#header .header_btn span:nth-child(5), #header .header_btn span:nth-child(6) {top: 12px;}
	#header .header_btn.open span:nth-child(1),#header .header_btn.open span:nth-child(6) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#header .header_btn.open span:nth-child(2),#header .header_btn.open span:nth-child(5) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#header .header_btn.open span:nth-child(1) {left: 3px; top: 3px;}
	#header .header_btn.open span:nth-child(2) {left: calc(50% - 2px);top: 3px;}
	#header .header_btn.open span:nth-child(3) {left: -50%;opacity: 0;	}
	#header .header_btn.open span:nth-child(4) {left: 100%;	opacity: 0;}
	#header .header_btn.open span:nth-child(5) {left: 3px;	top: 10px;}
	#header .header_btn.open span:nth-child(6) {left: calc(50% - 2px);top: 10px;}

	#header .head_sch_wp{display:none; position:absolute; top:0; left:0; width:100%; height:260px; background:#fff; z-index:9989; }
	#header .head_sch_wp .sch_clo{position:absolute; top:25px; right:30px; }
	#header .head_sch_wp .sch_clo img{height:17.5px; }
	#header .head_sch_wp .hd_sch{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100%; max-width:496px;  border-bottom:1px solid #333; }
	#header .head_sch_wp .hd_sch .hd_sch_ip{width:calc(100% - 25px); padding:16px 5px; border:0; background:transparent; font-size:16px; color:#333; line-height:24px; }
	#header .head_sch_wp .hd_sch .hd_sch_btn{position:absolute; top:50%; right:5px; width:20px; height:20px;  margin-top:-10px; }
	#header .head_sch_wp .hd_sch .hd_sch_btn img{height:20px; }

	#gnb{text-align:center; }
	#gnb .gnb_depth1 > li{position:relative; display:inline-block; vertical-align:middle; padding-top:23px; z-index:1;}
	#gnb .gnb_depth1 > li > a{display:inline-block; padding:0 40px; font-size:16px; font-weight:600; color:#333; line-height:24px; }
	#gnb .gnb_depth2{display:none; position:absolute; top:70px; left:0; width:100%; padding-top:26px; }
	#gnb .gnb_depth2 li{margin-top:24px; }
	#gnb .gnb_depth2 li:first-child{margin-top:0; }
	#gnb .gnb_depth2 li a{font-size:15px; color:#828282; line-height:22px; transition: .3s; }
	#gnb .gnb_depth2 li a:hover{color:#333; }
	#gnb .gnb_bg{display:none; position:absolute; top:70px; left:0; width:100%; height:230px; background:#fff; border-top:1px solid #f2f2f2; }

	#footer{padding:60px 0; background:#333; }
	#footer .tit{margin-bottom:22px; font-size:14px; font-weight:600; color:#bdbdbd; line-height:28px; }
	#footer .foot_lft{float:left;}
	#footer .foot_lft:after{content:''; display:block; clear:both; }
	#footer .foot_cp{float:left; margin-right:67px; }
	#footer .foot_cp .txt{font-size:14px; color:#888; line-height:30px; }
	#footer .foot_cp .txt a{color:#888; transition: .5s; }
	#footer .foot_cp .txt a:hover{color:#fff; }
	#footer .foot_cs{float:left; }
	#footer .foot_cs .foot_tel{font-size:24px; font-weight:700; color:#828282; line-height:28px; }
	#footer .foot_cs .foot_time{font-size:14px; color:#888; line-height:30px; }
	#footer .foot_cs .foot_time img{position:relative; top:-1px; margin-right:6px; vertical-align:middle;}
	#footer .foot_cs .foot_fax{margin-top:30px; font-size:14px; color:#888; line-height:30px; }
	#footer .foot_cs .foot_email{font-size:14px; color:#888; line-height:30px; }
	#footer .foot_info{float:right; text-align:right; padding-top:6px;}
	#footer .foot_info .foot_pri{}
	#footer .foot_info .foot_pri a{display:block; font-size:14px; font-weight:500; color:#bdbdbd; line-height:30px; letter-spacing:-0.03em; transition: .5s; }
	#footer .foot_info .foot_pri a:hover{color:#fff;}
	#footer .foot_info .foot_sns{margin-top:40px; }
	#footer .foot_info .foot_sns ul{}
	#footer .foot_info .foot_sns ul li{display:inline-block; vertical-align:middle; margin-right:14px; }
	#footer .foot_info .foot_sns ul li:last-child{margin-right:0; }
	#footer .foot_info .foot_sns ul li a{display:block; transition: .3s; }
	#footer .foot_info .foot_sns ul li.facebook a{width:23px; height:24px; background:url('../img/ico_facebook.png') no-repeat center; background-size:23px 24px; }
	#footer .foot_info .foot_sns ul li.insta a{width:23px; height:23px; background:url('../img/ico_instagram.png') no-repeat center; background-size:23px; }
	#footer .foot_info .foot_sns ul li.youtube a{width:27px; height:21px; background:url('../img/ico_youtube.png') no-repeat center; background-size:27px 21px; }
	#footer .foot_info .foot_sns ul li.kakao a{width:24px; height:24px; background:url('../img/ico_kakaochannel.png') no-repeat center; background-size:24px; }
	#footer .foot_info .foot_sns ul li.facebook a:hover{width:23px; height:24px; background:url('../img/ico_facebook_on.png') no-repeat center; background-size:23px 24px; }
	#footer .foot_info .foot_sns ul li.insta a:hover{width:23px; height:23px; background:url('../img/ico_instagram_on.png') no-repeat center; background-size:23px; }
	#footer .foot_info .foot_sns ul li.youtube a:hover{width:27px; height:21px; background:url('../img/ico_youtube_on.png') no-repeat center; background-size:27px 21px; }
	#footer .foot_info .foot_sns ul li.kakao a:hover{width:24px; height:24px; background:url('../img/ico_kakaochannel_on.png') no-repeat center; background-size:24px; }
	/*#footer .foot_info .foot_sns ul li img{height:24px; }*/
	#footer .foot_info .foot_copy{margin-top:10px; font-size:14px; color:#888; line-height:30px; }

	#container{position:relative;}
	.inner{position:relative;width:100%;max-width:1360px;margin:0 auto;}
	.inner:after{content:''; display:block; clear:both; }

/*[e] Layout Style */

/* [s] Main */
	.main_visual{position:relative; height:920px; background:#2a333f; }
	.main_visual .vs_bg_box{position:absolute; top:0; right:0; width:37%; height:100%; overflow:hidden; }
	.main_visual .vs_bg_box .vs_bg{position:absolute; top:0; left:0; width:100%; height:100%; transition:all .9s ease-out; transform:translateX(150%); transition-delay:0s;}
	.main_visual .vs_bg_box .vs_bg.act{transform:translateX(0); transition-delay: .6s;}
	.main_visual .vs_bg_box .vs_bg.bs_bg01{background:#eb5757;}
	.main_visual .vs_bg_box .vs_bg.bs_bg02{background:#a5a9b8;}
	.main_visual .vs_inner{position:relative; width:100%; max-width:1360px; height:920px; margin:0 auto;}
	.main_visual .vs_text_box{ }
	.main_visual .vs_text{position:absolute; top:268px; left:0; }
	.main_visual .vs_text dl{}
	.main_visual .vs_text dl dt{ overflow:hidden;  }
	.main_visual .vs_text dl dt span{display:inline-block;font-size:18px; font-weight:700; color:#eb5757; line-height:27px; transition:all .6s ease-out; transform:translateY(150%); transition-delay:0s;}
	.main_visual .vs_text dl dd{margin-top:15px;  overflow:hidden;  }
	.main_visual .vs_text dl dd span{display:inline-block;font-size:64px; font-weight:700; color:#fff; line-height:96px; transition:all .9s ease-out; transform:translateX(-150%); transition-delay:0s;}
	.main_visual .vs_text .vs_btn{padding-left:30px; margin-top:42px; overflow:hidden;}
	.main_visual .vs_text .vs_btn a{position:relative; display:inline-block; font-size:16px; font-weight:700; color:#fff; line-height:60px; transition:all .6s ease-out; transform:translateY(150%); transition-delay:0s; z-index:2;}
	.main_visual .vs_text .vs_btn a:before{content:''; display:block; position:absolute;top:50%; left:-30px; width:60px; height:60px; margin-top:-30px; background:#eb5757; border-radius:60px; z-index:-1; transition:all .3s;}
	.main_visual .vs_text .vs_btn a img{position:relative; top:-1px; height:12px; vertical-align:middle; margin-left:13px; transition:all .3s; }
	.main_visual .vs_text .vs_btn a:hover:before{width:160px; }
	.main_visual .vs_text .vs_btn a:hover img{margin-left:22px; }
	/* 슬라이드 텍스트영역 효과 */
	.main_visual .vs_text.act dl dt span{transform:translateY(0); transition-delay: .3s;}
	.main_visual .vs_text.act dl dd span{transform:translateX(0); transition-delay: .6s;}
	.main_visual .vs_text.act .vs_btn a{transform:translateY(0); transition-delay: .9s;}
	.main_visual .vs_slide{position:absolute; top:0; right:0; width:794px; height:920px; z-index:1; }
	.main_visual .vs_slide .swiper-slide{height:920px; opacity:0 !important; }
	.main_visual .vs_slide .swiper-slide.swiper-slide-active{opacity:1 !important; }
	.main_visual .vs_slide .swiper-slide .img{
		position: absolute;right:0; top:0; bottom:0; width: 0%;height:920px;
		background-position:50% 50%;
		background-repeat:no-repeat;
		background-size:cover;
		-webkit-transition: 1s; transition: 1s;
		z-index: -1;
	}
	.main_visual .vs_slide .swiper-slide.swiper-slide-active .img{width:100% !important; left:auto; right:0;}
	.main_visual .vs_slide .swiper-slide.slide_item01 .img{background-image: url("../img/main_vs_item01_v4.png");}
	.main_visual .vs_slide .swiper-slide.slide_item02 .img{background-image: url("../img/main_vs_item02.png");}
	.main_visual .vs_page{position:absolute; bottom:72px; right:0; z-index:999; }
	.main_visual .vs_page .swiper-pagination-bullet{margin:0 5px; background:#fff; opacity:.2; cursor:pointer; }
	.main_visual .vs_page .swiper-pagination-bullet-active{opacity:1; }

	.main_new{padding:90px 0 110px; background:#F3F1E8; }
	.main_new .lft_box{float:left; width:348px; padding-top:30px; }
	.main_new .lft_box h2{font-size:18px; font-weight:700; color:#EB5757; line-height:27px; }
	.main_new .lft_box .ttl{margin-top:23px; font-size:36px; font-weight:700; color:#333; line-height:57px; }
	.main_new .lft_box .new_item_arr{margin-top:140px; }
	.main_new .lft_box .new_item_arr a{display:inline-block; vertical-align:middle; width:56px; height:56px; border-radius:50%; background-size:10px 18px; }
	.main_new .lft_box .new_item_arr a.n_item_prev{ background:#e6e4db url('../img/ico_arr_prev.png') no-repeat center; margin-right:4px; }
	.main_new .lft_box .new_item_arr a.n_item_next{ background:#e6e4db url('../img/ico_arr_next.png') no-repeat center; }
	.main_new .rgt_box{float:left; width:calc(100% - 348px); }
	.main_new .rgt_box .swiper-container{padding-top:20px; }
	.main_new .rgt_box .slide_item{}
	.main_new .rgt_box .slide_item:hover{transform:translateY(-30px); }
	.main_new .rgt_box .slide_item a{display:block; }
	.main_new .rgt_box .slide_item a img{width:100%; }
	.main_new .rgt_box .slide_item a .tit{position:absolute; bottom:46px; left:0; width:100%; text-align:center; font-size:16px; font-weight:700; color:#333; line-height:24px; }

	.main_living{padding:110px 0 132px; text-align:center;}
	.main_living h2{font-size:36px; font-weight:700; color:#333; line-height:54px; }
	.main_living ul{margin-top:56px; }
	.main_living ul li{display:inline-block; vertical-align:top; width:31.5%; margin-right:2.75%; }
	.main_living ul li:last-child{margin-right:0; }
	.main_living ul li .thum{overflow:hidden;}
	.main_living ul li .thum img{max-width:100%; transition:all .3s;}
	.main_living ul li .thum:hover img{transform:scale(1.1,1.1);}
	.main_living ul li dl{padding-top:30px; }
	.main_living ul li dl dt{font-size:16px; font-weight:700; color:#333; line-height:24px; }
	.main_living ul li dl dd{margin-top:6px; font-size:16px; font-weight:400; color:#333; line-height:24px; }

	.main_search{width:100%; height:380px; padding-top:77px; background:url('../img/main_sch_bg.jpg') no-repeat center center; background-attachment:fixed; text-align:center; }
	.main_search h2{font-size:36px; font-weight:700; color:#fff; line-height:54px; }
	.main_search .sch_box{position:relative; width:494px; margin:37px auto 0; }
	.main_search .sch_box .ip_sch{width:100%; height:60px; padding-left:30px; background:#fff; border:0; border-radius:60px; font-size:16px; font-weight:500; color:#333; }
	.main_search .sch_box .btn_sch{position:absolute; top:5px; right:6px; width:110px; height:50px; background:#eb5757; border:2px solid #eb5757; border-radius:50px; font-size:16px; font-weight:700; color:#fff; transition: .3s;}
	.main_search .sch_box .btn_sch:hover{background:#fff; color:#eb5757; }

	.main_intro{background:#CCDCD6; padding:124px 0 116px; }
	.main_intro .intro_slide{position:relative; float:left; width:49%; }
	.main_intro .intro_slide .intro_nav{position:absolute; bottom:13px; right:0; left:auto; width:65.06%; z-index:10; }
	.main_intro .intro_slide .intro_nav .it_nav_num{position:relative; display:inline-block; vertical-align:middle; width:45px; font-size:14px; font-weight:700; color:#333; line-height:21px; }
	.main_intro .intro_slide .intro_nav .it_nav_num:after{content:''; display:block; position:absolute; top:10px; right:10px; width:10px; height:1px; background:#333; }
	.main_intro .intro_slide .intro_nav .it_slide_ttl{position:relative; display:inline-block; vertical-align:middle; width:calc(100% - 100px); height:21px; overflow:hidden; }
	.main_intro .intro_slide .intro_nav .it_slide_ttl .it_sd_tt{position:absolute; top:0; left:0; font-size:14px; font-weight:400; color:#333; line-height:21px;transition:all .3s ease-out; transform:translateY(150%); transition-delay:0s; }
	.main_intro .intro_slide .intro_nav .it_slide_ttl .it_sd_tt.act{transform:translateY(0); transition-delay: .3s;}
	.main_intro .intro_slide .intro_nav .intro_arr{display:inline-block; vertical-align:middle; width:55px; }
	.main_intro .intro_slide .intro_nav .intro_arr a{display:inline-block; vertical-align:middle; width:10px; height:18px; background-size:10px 18px; }
	.main_intro .intro_slide .intro_nav .intro_arr a.it_prev{ background: url('../img/ico_arr_prev.png') no-repeat center; margin-right:35px; }
	.main_intro .intro_slide .intro_nav .intro_arr a.it_next{ background: url('../img/ico_arr_next.png') no-repeat center; }
	.main_intro .intro_slide .intro_bg{position:absolute; top:0; left:0; width:100%; height:100%; z-index:999; }
	.main_intro .intro_slide .intro_bg img{width:100%; height:560px; }
	.main_intro .intro_slide .swiper-slide{opacity:0; height:560px; }
	.main_intro .intro_slide .swiper-slide .img{
		position: absolute;left:0; top:0; bottom:0; width: 0%;height:560px;
		background-position:50% 50%;
		background-repeat:no-repeat;
		background-size:cover;
		-webkit-transition: 1s; transition: 1s;
		z-index: -1;
	}
	.main_intro .intro_slide .swiper-slide.swiper-slide-active{opacity:1; }
	.main_intro .intro_slide .swiper-slide.swiper-slide-active .img{width:100% !important; left:0; right:auto;}
	.main_intro .intro_slide .swiper-slide.slide_item01 .img{background-image: url("../img/intro_slideimg01.jpg");}
	.main_intro .intro_slide .swiper-slide.slide_item02 .img{background-image: url("../img/intro_slideimg02.jpg");}
	.main_intro .intro_slide .swiper-slide.slide_item03 .img{background-image: url("../img/intro_slideimg03.jpg");}
	.main_intro .intro_text{float:left; width:51%; padding-left:116px; }
	.main_intro .intro_text h2{font-size:24px; font-weight:700; color:#333; line-height:36px; margin-bottom:4px; }
	.main_intro .intro_text .text_slide{height:54px; }
	.main_intro .intro_text .text_slide div{height:54px; font-size:36px; font-weight:700; color:#333; line-height:54px; }
	.main_intro .intro_text .desc{margin-top:26px; font-size:16px; font-weight:400; color:#333; line-height:30px; word-break:keep-all; }
	.main_intro .intro_text ul{margin-top:68px; }
	.main_intro .intro_text ul li{position:relative; padding-left:32px; border-radius:5px;/* margin-top:6px;*/ font-size:18px; font-weight:600; color:#333; line-height:50px; transition:all .5s; }
	.main_intro .intro_text ul li:first-child{margin-top:0px; }
	.main_intro .intro_text ul li:before{content:''; display:block; position:absolute; top:21px; left:0; width:8px; height:8px; border-radius:50%; background:#7AA092; transition:all .5s; }
	.main_intro .intro_text ul li:hover{background:#fff; padding-left:52px; box-shadow:1px 1px 15px rgba(0,0,0,0.15);}
	.main_intro .intro_text ul li:hover:before{left:20px; }

.main_product {
  padding: 110px 0 136px;
  text-align: center;
}
.main_product h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  line-height: 54px;
}
.main_product .prd_cata {
  margin-top: 36px;
}
.main_product .prd_cata ul {
}
.main_product .prd_cata ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}
.main_product .prd_cata ul li a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 24px;
}
.main_product .prd_cata ul li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #333;
  transition: all 0.5s;
}
.main_product .prd_cata ul li:last-child {
  margin-right: 0;
}
.main_product .prd_cata ul li.current a {
  font-weight: 700;
}
.main_product .prd_cata ul li.current a:before {
  width: 100%;
}
.main_product .prd_cata ul li:hover a:before {
  width: 100%;
}
.main_product .prd_list {
  margin-top: 56px;
}
.main_product .prd_list .grid_item {
  float: left;
  width: 23.2375%;
  margin-bottom: 2.35%;
}
.main_product .prd_list .grid_item.active {
  width: 23.2375%;
}
.main_product .prd_list .grid_item.delete {
  width: 0%;
}
.main_product .prd_list .grid_item a {
  display: block;
  position: relative;
}
.main_product .prd_list .grid_item .thum img {
  display: block;
  width: 100%;
}
.main_product .prd_list .grid_item .caption {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background: rgba(255, 255, 255, 0.85);
}
.main_product .prd_list .grid_item .caption .desc {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.main_product .prd_list .grid_item .caption .desc .tit {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  line-height: 36px;
}
.main_product .prd_list .grid_item .caption .desc .dsc {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #828282;
  line-height: 21px;
}
.main_product .prd_list .gt_size {
  width: 2.35%;
}
.main_product .prd_list .grid_size {
  width: 23.2375%;
}

.main_bgbox {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.main_bgbox .bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.main_bgbox .bg_img .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  opacity: 0;
  transition: all 0.5s;
}
.main_bgbox .bg_img .bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
.main_bgbox .bg_img .bg.on {
  opacity: 1;
}
.main_bgbox .bg_img .bg.on:after {
  background: rgba(0, 0, 0, 0.3);
}
.main_bgbox .bg_img .bg.bg01 {
  background: url("../img/main_bg01.jpg") no-repeat center;
  background-size: cover;
}
.main_bgbox .bg_img .bg.bg02 {
  background: url("../img/main_bg02.jpg") no-repeat center;
  background-size: cover;
}
.main_bgbox .bg_img .bg.bg03 {
  background: url("../img/main_bg03.jpg") no-repeat center;
  background-size: cover;
}
.main_bgbox .bg_img .bg.bg04 {
  background: url("../img/main_bg04.jpg") no-repeat center;
  background-size: cover;
}
.main_bgbox .bg_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.main_bgbox .bg_cont ul {
}
.main_bgbox .bg_cont ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  height: 600px;
}
.main_bgbox .bg_cont ul li:last-child {
  border-right: 0;
}
.main_bgbox .bg_cont ul li .bg_inbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.main_bgbox .bg_cont ul li dl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px 60px;
  transition: all 0.5s;
}
.main_bgbox .bg_cont ul li dl dt {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 27px;
  transform: translateY(70px);
  transition: all 0.5s;
}
.main_bgbox .bg_cont ul li dl dd {
  margin-top: 23px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 24px;
  opacity: 0;
  transform: translateY(150%);
  transition: all 0.5s;
}
.main_bgbox .bg_cont ul li:hover dl {
  background: #fff;
}
.main_bgbox .bg_cont ul li:hover dl dt {
  color: #eb5757;
  transform: translateY(0);
}
.main_bgbox .bg_cont ul li:hover dl dd {
  opacity: 1;
  transform: translateY(0);
}

	.main_ex{ }
	.main_ex .ex_bg{display:inline-block; vertical-align:top; width:50%; height:700px; background:url('../img/experience_img.jpg') no-repeat center center; }
	.main_ex .ex_dsc{display:inline-block; vertical-align:top; width:50%;}
	.main_ex .ex_dsc .ex_dsc_top{height:460px; padding:105px 0 0 100px; background:#F3E1E1; }
	.main_ex .ex_dsc .ex_dsc_top dl{}
	.main_ex .ex_dsc .ex_dsc_top dl dt{font-size:30px; font-weight:400; color:#333; line-height:45px; }
	.main_ex .ex_dsc .ex_dsc_top dl dt strong{font-weight:700;}
	.main_ex .ex_dsc .ex_dsc_top dl dd{margin-top:50px; font-size:16px; font-weight:400; color:#333; line-height:30px; }
	.main_ex .ex_dsc .ex_dsc_bot{padding:81px 0 0 100px; }
	.main_ex .ex_dsc .ex_dsc_bot ul{}
	.main_ex .ex_dsc .ex_dsc_bot ul li{display:inline-block; vertical-align:middle; width:100px; text-align:center; margin-right:60px;}
	.main_ex .ex_dsc .ex_dsc_bot ul li:last-child{margin-right:0; }
	.main_ex .ex_dsc .ex_dsc_bot ul li .counter{font-size:36px; font-weight:600; color:#333; line-height:54px; }
	.main_ex .ex_dsc .ex_dsc_bot ul li span{font-size:16px; font-weight:400; color:#333; line-height:24px; }

.main_video {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.main_video .video_wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.main_video .video_wrap .video_item {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
}
.main_video .video_wrap .video_item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main_partner {
  padding: 104px 0 34px;
}
.main_partner .partner_inner {
  width: 1276px;
  margin: 0 auto;
}
.main_partner ul {
}
.main_partner ul li {
  display: inline-block;
  vertical-align: middle;
  width: calc(25% - 87px);
  margin-bottom: 70px;
  margin-right: 116px;
}
.main_partner ul li:nth-child(4n) {
  margin-right: 0;
}
.main_partner ul li a {
  position: relative;
  display: block;
}
.main_partner ul li a span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.main_partner ul li a:hover span {
  opacity: 1;
}
.main_partner ul li a img {
  width: 100%;
}

.main_instagram {
  padding: 100px 0 120px;
  background: #f3f1e8;
  text-align: center;
}
.main_instagram .insta_inner {
  width: 1128px;
  margin: 0 auto;
}
.main_instagram h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  line-height: 54px;
}
.main_instagram .desc {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 24px;
}
.main_instagram ul {
  margin-top: 72px;
}
.main_instagram ul li {
  display: inline-block;
  vertical-align: middle;
  width: calc(20% - 25.6px);
  margin-right: 32px;
}
.main_instagram ul li:last-child {
  margin-right: 0;
}
.main_instagram ul li a {
  position: relative;
  display: block;
}
.main_instagram ul li a:after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background: rgba(55, 52, 39, 0.8) url("../img/ico_insta_more.png") no-repeat
    center center;
  background-size: 18px;
  transition: 0.3s;
}
.main_instagram ul li a:hover:after {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.main_instagram ul li a img {
  width: 100%;
}
/* [e] Main */

/* [s] Sub */

/* [e] Sub   */

/* [s] Etc */

/* [e] Etc */

/* [s] News*/
.news {
  padding: 160px 0 0 0;
}
.news_title {
  font-size: 64px;
}
.news_tabs li {
  margin-top: 44px;
  display: inline-block;
  margin-right: 55px;
}
.news_tabs li a {
  font-size: 24px;
  font-weight: 600;
  color: #bdbdbd;
}
.news_tabs li .active {
  color: #333333;
  font-weight: bold !important;
  font-size: 24px;
  text-decoration-line: underline !important;
}
.upper {
  display: inline-flex;
  width: 100%;
}
.tab_title {
  width: 50%;
}
.search {
  align-self: end;
  width: 50%;
}
.search i {
  float: right;
  position: absolute;
  margin-left: 190px;
  margin-top: -1px;
  right: 15px;
  pointer-events: none;
}
.search input {
  float: right;
  background-color: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #333333;
  color: #333333;
  margin: -4px 0 0 -97px;
  padding: 7px 0px;
  position: relative;
  width: 317px;
}
.search input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}
.total p {
  margin-top: 103px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.total hr {
  width: 100%;
  border-top: solid 1px #e0e0e0;
  display: block;
}
.post_content {
  display: inline-flex;
}
.post-right_box a h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin-top: 90px;
}
.post-right_box p {
  margin-top: 14px;
  width: 780px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}
.post_date {
  margin-top: 59px;
}
.post_date span img {
  margin-right: 4px;
}
.post-image {
  padding: 60px 68px 60px 0px;
}
.news .inner hr {
  width: 100%;
  border-top: solid 1px #e0e0e0;
  display: block;
}
.text-center {
  text-align: center;
}
.paginating {
  margin: 70px 0px 175px 0px;
  display: inline-flex;
}
.paginating > .active > a {
  font-weight: bold;
  text-decoration-line: underline;
}
.page-number > a {
  color: black;
  margin-left: 40px;
}
.notice_box a h2 {
  margin-top: 54px;
  margin-left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
.notice_date {
  margin-top: 33px;
  margin-bottom: 63px;
  margin-left: 20px;
}
.notice_date span {
  margin-right: 24px;
}
.notice_date span img {
  margin-right: 4px;
}
.notice_date a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.inner .infit {
  margin-top: 47px;
}
.news .infit li {
  display: inline-block;
  vertical-align: top;
  width: 31.5%;
  margin-right: 2.75%;
}
.news .infit li:nth-child(3n) {
  margin-right: 0 !important;
}
.news .infit {
  margin-right: 0;
}
.news .infit li .thum {
  overflow: hidden;
}
.news .infit li .thum img {
  max-width: 100%;
  transition: all 0.3s;
}
.news .infit li .thum:hover img {
  transform: scale(1.1, 1.1);
}
.news .infit li dl {
  padding-top: 30px;
}
.news .infit li dl dt {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  line-height: 30px;
  width: 412px;
}
.news .infit li dl dd {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 24px;
}
.gallery_date {
  margin-top: 32px;
  margin-bottom: 90px;
}
.tabs .active {
  background: #eb5757;
  color: #ffffff !important;
}
.tabs .btn {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  font-size: 18px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 50px;
  color: #bdbdbd;
}
.tabs {
  margin-top: 104px;
}
.total-faq p {
  margin-top: 49px;
  margin-bottom: 23px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
/* [e] News*/
/* [s] Product*/
.produt-list { background: #F3F1E8}
.product-header-title {font-size: 64px;font-weight: bold;color: #333333}
.product-header { width: 100%;display: flex; padding: 0 280px 18px 280px;background: #F3F1E8}
.product-header-content {padding: 170px 0 0 0;width: 763px}
.product-header-image {padding: 100px 0 0 0}
.product-header-description {margin-top: 34px;width: 550px;font-size: 16px;color: #333333}
.product-list-category { margin-top: 80px; margin-bottom: 56px;}
.product-list-category ul{ display: flex; place-content: center}
.product-list-banner img {height: 290px;width: 100%}
.product-list-category ul li { font-family: "Poppins", "SpoqaHanSansNeo", sans-serif;font-size: 16px; color: #bdbdbd}
.product-list-category ul li.active { font-weight: bold ; text-decoration: underline}
.product-list-category ul li:nth-child(n){ margin-right: 60px;}
.product-list-category ul li:last-child{ margin-right: 0;}
.banner-list { position: absolute;top: 148px;left: 84px;}
.banner-list {font-size: 24px; color: #ffffff}
.banner-list h1 { width: 350px;line-height: 36px;font-weight: 400}
.banner-list h1 span { font-weight: 600}
.banner-list-button {margin-top: 41px;}
.banner-list-button a img	{width: 26px;height: 26px;padding: 8px;background-color: #eb5757;border-radius: 14px;margin: -6px 0 0 6px;}
.banner-list-button a {font-size: 14px; font-weight: bold;color: #EB5757; display:flex}
.product-list-sort {margin: 73px 0 40px 0; display: flex;justify-content: space-between}
.product-list-sort select {appearance: auto}
.product-list-sort .product-list-sort-category select:first-child{margin-right: 50px;}
.product-list-item-image img {width: 316px; height: 316px;}
.product-list-item {width: 25%;display: inline-block;margin-top: 20px;margin-bottom: 20px;}
.product-list-item-title h3 {font-size: 16px;font-family: Poppins;text-align: -webkit-center;margin-top: 24px;}
.product-list-item-price span {font-size: 14px;font-weight: 600;text-align: -webkit-center;line-height: 26px;}
.product-list-item-price {text-align: -webkit-center;margin-top: 3px;}
/*.product-header-content {width: 50%;float: left}*/
/*.product-header-image {width: 50%; float: left}*/
/* [e] Product*/
/* [s] Product detail*/
.product-detail { padding: 200px 0 0 0; display: flex}
.product-detail-image-slider {width: 50%;position: relative;overflow: hidden;}
.product-detail-image-slider .swiper {display: none}
.product-detail-image-slider .swiper.active {display: block}
.product-detail-image-slider .swiper {text-align: center; background-color: #F8F8F8}
.product-detail-content { width: 50%}
.product-detail-content { margin: 60px 0 0 70px; }
.product-detail-content  h1{ font-size: 42px; font-weight: bold;font-family: Poppins; line-height: 63px;  }
.product-detail-content p  { margin: 10px 0 26px 0 ; width: 550px;font-size: 16px; line-height: 30px; font-weight: 400}
.product-detail-content span {font-weight: 600; font-size: 16px;line-height: 26px;}
.product-detail-color-name {color: #989898; font-size: 13px;line-height: 19px;}
.product-detail-color-picker {margin-top: 65px;}
#product-detail-colors {margin-top: 15px;display: -webkit-box; width: 200px; height: 44px; border: #666666 1px solid; border-radius: 5px;padding-left: 25px;appearance: auto}
.product-detail-content button {width: 350px; height: 60px; background-color: #333333; color: #ffffff; font-size: 16px; font-weight: 700; line-height: 24px;margin-top: 80px;}
.product-detail-info-cat {margin: 70px 0 70px 0; display: flex; justify-content: center; }
.product-detail-info-cat  li {margin: 0 25px 0px 25px; font-size: 16px;}
.product-detail-info-cat  li.active {font-weight: bold; text-decoration: underline }
.product-detail-info-item.active { display: flex;flex-grow: 3; flex-flow: wrap}
.product-detail-info-item { display: none;}
.product-detail-info-item h1{ font-size: 50px;color: #000000;font-weight: bold; position: absolute;top: 1153px;}
.product-detail-info-item p { margin-top: 205px;width: 260px}
.detail-info-item-title {flex-grow: 1}
.product-detail-info-list {width: 1045px; margin: 0 0 0 116px;}
/*.detail-info-item-right-content {margin-top: 500px; }*/
.detail-info-item-image {flex-grow: 2; margin-right: -185px;}
.detail-info-item-left-image {flex-grow: 1}
.detail-info-item-right-content {flex-grow: 2;margin-top: 60px;margin-left: 60px;}
.detail-info-item-right-content h2 {font-size: 30px; font-weight: 600}
.detail-info-item-right-content p {font-size: 14px;width: 490px;margin-top: 20px;height: 240px; line-height: 26px;}
/*.detail-info-item-image img {margin-left: 90px;}*/
/*.detail-info-item-left-image { position: absolute; margin-top: 490px;}*/

/* [e] Product detail*/